:root {
  --sig:#F7A80D;
  --bg: #161728;
  --font-white: #DDDDDD;
  --font-black: #161728;
  --font-light-gray: #686868;
  --font-dark-gray: #565657;
  --font-red: #eb5a40;

  --bg-bar: #23263D;
  --bg-button: #23263D;
  --bg-input: #000000;
  --border-input: #30363d;
  --border: #21262D;
}

body{
  width : 100vw;
  height : 100vh;
  background-color: var(--bg)
}
* {
  box-sizing: border-box;
  color : var(--font-white);
  padding : 0;
  margin : 0;
}

button {
  border : none;
  padding : 5px 10px;
  border-radius: 10px;
  background: none;
  font-weight: 600;
}

button:hover{
  cursor: pointer;
}

input,
textarea,
select {
  padding: 4px 6px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-input);
  color: var(--font-white);
}

input,
select,
textarea:focus {
  outline: none;
}

input,
select,
textarea:hover {
  cursor: pointer;
}

/*
  select box
*/
.select-box {
  position: relative;
  width: 70%;
}

.select-box:hover {
  cursor: pointer;
}

.select-box::before,
::after {
  --size: 0.3rem;
  position: absolute;
  content: '';
  right: 1rem;
  pointer-events: none;
}

.select-box::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--font-white);
  top: 55%;
}

.select-box::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--font-white);
  top: 40%;
}

select {
  appearance: none;
  width: 100%;
  font-size: 13px;
  padding: 10px 10px;
  background-color: var(--bg);
  border: 1px solid var(--font-light-gray);
  color: var(--font-white);
}


/**
  scroller
*/

::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}